body {
    font-family: -apple-system, BlinkMacSystemFont, Arial;
    margin: 0;
    background-color: #f8f8f8;
    color: #333;
}
h1{
    text-align: center;
    background-color: #d1495b;
    color: white;
    margin: 0;
    padding: 20px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 15px;
    gap: 20px;
    flex-wrap: wrap;
}
nav a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    color: #ffcc00;
}
section{
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 900px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
img{
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    border: 2px solid #ddd;
    padding: 10px;
    text-align: center;
}
th{
    background-color: #d1495b;
    color:white;
}
input, select, button{
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 8px;
    width: 150px;
}
button{
    background: linear-gradient(45deg, #d1495b, #ff7b7b);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
button:hover{
    opacity: 0.85;
}
.hero{
    background: url("images/Cover.PNG") center/cover no-repeat;
    height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 5px black;
}

.menu-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.menu-card{
    background-color: #fafafa;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.menu-card:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.popular-scroll {
    display: flex;
    overflow-x: auto;        /* allows horizontal scroll */
    gap: 15px;
    padding: 10px 0;
    scroll-snap-type: x mandatory;  /* smooth snapping */
}

.popular-scroll img {
    width: 280px;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;          /* prevents shrinking */
    scroll-snap-align: start;
}